*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, #ccc, #BFBF, rgb(23, 97, 207) )
}

.container{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
}

.subtitulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: auto;
}