body{
    text-align: center;
    background-image: linear-gradient(to right, gray, black);
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px white;
}
a{
    color: white;
    font-size: 30px;
    text-align: justify;
}
